body {
  background-color: #158af1; /* light sky blue tone */
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ee794e;
  color: white;
  padding: 15px;
}

h1 {
  margin: 0;
}

nav {
  background-color: #f17878;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
}

nav a:hover {
  background-color: #4caf50;
}

main {
  padding: 20px;
}

img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
