body {
  font-family: Arial, sans-serif;
  background-color: #f8f8ff;
  text-align: center;
}

h1 {
  color: rgb(182, 129, 250);
}

nav a {
  margin: 15px;
  text-decoration: none;
  color: rgb(251, 208, 53);
}

table {
  margin: 25px auto;
  border: 3px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #e3c3f6;
}

img {
  width: 100px;
}

form {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  border: 5px solid black;
  padding: 15px;
  background-color: rgb(232, 218, 244);
}