

body {
  background-color: #f2aaf4; 
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #b2c4f9;
  color: white;
  padding: 15px;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}


/* ===== RESPONSIVE NAVIGATION MENU ===== */

/* Top navigation bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover effect */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active page highlight */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hamburger icon (hidden by default) */
.topnav .icon {
  display: none;
}

/* navigation for small screen */
@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* When clicking show stacked menu */
@media screen and (max-width: 600px) {

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




